body{
    width: 320px;
}

.icon{
    width:15px;
    height:15px;
}

.popup-btn{
    margin: 10px;
    outline: 0;
}

.disabled{
    -webkit-filter: grayscale(100%);
}

#brush_div {
  margin: 10px;
}

#keyword_div {
  width: 300px;
  margin: 10px;
}

#search_btn {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
  text-align: center;
}
